#lead {
  position: relative;
  height: 92vh;
  min-height: 500px;
  max-height: 1080px;
  background: url("./../assets/images/lead-bg.jpg");
  background-size: cover;
  padding: 15px;
  background-attachment: fixed;
}

#lead-content {
  position: absolute;
  z-index: 10;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#lead-content h2 {
  color: #c6e2f5;
  font-weight: 500;
  font-size: 2.25em;
  margin-bottom: 15px;
}

#lead-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(33, 125, 187, 0.8);
  z-index: 1;
}

.btn-rounded {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 30px;
  transition: 0.5s ease all;
  text-decoration: none;
}

.btn-rounded-white {
  color: #fff;
  border: 3px solid #fff;
  background: transparent;
}

.btn-rounded-white:hover {
  color: #3498db;
  background: #fff;
}

.btn-rounded-blue {
  color: #3498db;
  border: 3px solid #3498db;
  background: transparent;
  padding: 10px 25px;
}

.btn-rounded-blue:hover {
  color: #fff;
  background: #3498db;
  text-decoration: none;
}

.search-container {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  outline: none;
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 5px;
  background: white;
}

.search-box {
  outline: none;
  border: none;
  width: 100%;
  text-align: center;
}

.job-type {
  border: none;
  outline: none;
  cursor: pointer;
  color: #4e4e4e;
  font-size: 16px;
}

.vertical-bar {
  background-color: rgb(150, 150, 150);
  margin-right: 10px;
  padding: 0px;
  width: 1px;
  font-size: 0%;
}

.heading {
  color: #374054;
  text-align: center;
}